.auth {
  background-color: var(--bg-secondary);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 520px;

  @media (max-width: 576px) {
    margin: 32px 16px;
  }
}
