.button {
  border: 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.25px;
  padding: 5px 19px;
  background: #ff7a64;
  outline: none;
  cursor: pointer;
}
