:root {
  --font-family: 'Montserrat', sans-serif;
  --font-secondary: Roboto, sans-serif;
  --orange-primary: #ff9964;
  --orange-secondary: #ff6d63;
  --orange-alt: #ff7a64;
  --orange-text: #220500;
  --blue-primary: #23abb5;
  --blue-secondary: #eff5fc;
  --bg-primary: #f1f5ff;
  --bg-secondary: #fff;
  --disabled: #d4e5fe;
  --border-color: #d4e5f9;
  --text-primary: #000;
  --text-secondary: rgba(0, 0, 0, 0.502);
  --focus: #000;
  --button-text: #fff;
  --shadow: #0006;
  --invert-color: none;
  --gray: #808080;
}

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
